<div class="card">
    <div class="card-body">
      <h5 class="card-title">Login/signup</h5>
     
        
        
        <div >
            Email:
            <br>
          <input type="email" name="email" [(ngModel)]="email">
          <br>
          <br>
          <button [disabled]="emailSent" (click)="sendEmailLink(email)">Get Login Link</button>
          <hr>
          <div *ngIf="emailSent">
            Cool We have sent you a email with emai-llink
          </div>
          <div *ngIf="errorMessage">
            {{errorMessage}}
        
          </div>
        </div>
        or login via
        <button class="loginBtn loginBtn--facebook"  (click)="loginfb()">
            Login with Facebook
          </button>
          
          <button class="loginBtn loginBtn--google"  (click)="logingoogle()">
            Login with Google
          </button>
       
     
    </div>
  </div>
