<h2>Events</h2>
 <a [routerLink]='["/new"]' class="btn btn-primary">New Event</a>
 <br>
 <br>
 <br>
<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Category
            </th>
            <th>
                Organiser
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let event of events">
            <td>
                {{event.eventName}}
            </td>
            <td>
                {{event.category.name}}
            </td>
            <td>
                {{event.organizerName}}
            </td>
            <td>
                <button class="btn btn-block" (click)="onClick(event.id)">Edit</button>
            </td>
        </tr>

    </tbody>
</table>